table {
    background-color: black;
    color: white;
    border-collapse: collapse;
    width: 100%;
    

  }
  
  th, td {
    border: 1px solid #ddd;
  padding: 8px;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #696767;}
  body {
   margin: 0;
   
   
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10px;
    padding: 0;
    background-image: url(sor/design/teglafal.jpg);
  
   
  }
  main{
    margin-left: auto;
   margin-right: auto;
  
   
    background-color: #333333;
    box-sizing: border-box;
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "a n"
    "f f"
    ;
  }
  header {
    background-image: url(sor/design/beer-new_401732638.jpg);
    padding: 0;
    margin: 0;
    background-size: cover;
    font-weight: bold ;
    font-family: Garamond;
    font-size: 32px;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    word-spacing: 4px;
    height: 300px;
    box-sizing: border-box;
    grid-area: h;

  }
  nav {
    box-sizing: border-box;
    grid-area: n;
    margin: 60px;
  
  }
 
  nav{
    
  margin:10px;
  padding: 0;
  
  }
  nav>ul{
    list-style-type: none;
    
  }
  nav>li{
    margin: 20px;
  }
  nav>ul>li{
    margin: 10px;
    color: rgb(13, 12, 12);
    border: 1px solid white;
    border-radius: 5px;
    
  }
  a{
    
    color: red;
  font-size: large;
    font-weight: bolder;
    text-decoration: none;
    
  }
 
 li a:hover {
    background-color: rgb(253, 251, 253);
   
  }
  
  article {
    background-color: black;
    box-sizing: border-box;
    display: grid ;
    grid: auto auto;
    grid-template-areas: 
    "c c"
    "k u";
    grid-area: a;
  }
  article>p{
    text-align: justify;
    font-size: 10px;

  }
  article>h2{
    grid-area: c;
    font-size: 15px;
  }
 .balra{
  grid-area: k;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  }
  article>br{
    clear: both;
  }
  article>ul{
    grid-area: u;
  }
  article>li{
    
    list-style: square;
  }
  footer {
    text-align: center;
    box-sizing: border-box;
    grid-area: f;
  }
  @media only screen and (max-width: 700px) {
    
    main {
      display: grid;
      text-align: center;
      grid-template-columns: 2fr;
      
      grid-template-areas: 
    "h"
    "a "
    "n"
    "f f"
    
      ;
    }
  }